.visual {
  width: 100vw;
  height: 100vh;
  background: #f7f8f8 url("../../asset/img/visual_bg.svg") repeat;

  .visual-panel {
    width: 300px;
    height: calc(100% - 40px);
    padding: 20px;
    border: solid rgba(145, 145, 145, 0.61) 1px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(45, 66, 86, .40);

    &__header {

    }

    &__title {

    }

    &__body {

    }

    &__content {
      padding: 16px;
    }
  }

  .visual-list {
    &__item {
      display: flex;
    }
  }
}