.visual {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  .visual-panel {
    position: absolute;
    width: 380px;
    height: calc(100% - 40px);
    border: solid rgba(145, 145, 145, 0.61) 1px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(45, 66, 86, .40);

    &__header {
      display: flex;
      align-items: center;
      margin: 20px;
    }
    .visual-panel__icon--large {
      width: 3em;
      height: 3em;
    }
    .visual-panel__icon--small {
      width: 1em;
      height: 1em;
    }

    &__title {
      margin-left: 10px;
      font-size: 16px;
      font-weight: bold;
    }

    &__body {
      margin: 20px
    }

    &__content {
      font-size: 12px;
    }
  }

  .visual-list {
    padding: 0;
    &__item {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
      cursor: pointer;
    }
    &__item:hover {
      background-color: #f8f9fa;
    }
  }
  .visual-graph {
    display: block;
    background: #f7f8f8 url("../../asset/img/visual_bg.svg") repeat;
    .visual-graph__node {
      cursor: pointer;
    }
  }
}